.btn-primary {
  width:32%;
}

.btn-primary{
  background: #006781;
  color: #fff;
}

.text-center {
  text-align: center;
  font-family: 'ABeeZee', sans-serif; /* Usamos 'ABeeZee' como fuente */
  font-size: 35px;
  color: #006781 ; /* Cambia el tamaño de fuente según tus preferencias */
}
