<div *ngIf="showDetailedComponent; else routerOutlet">
  <app-login></app-login>
</div>
<ng-template #routerOutlet>
  <div>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Bienvenidos maquestación optitask</span>
      <!-- <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
      <span class="fill-remaining-space"></span>
      <a routerLink="/" routerLinkActive="">{{ title }}</a>
      <a routerLink="/login" routerLinkActive="">
        <button mat-button>Login</button>
      </a>
      <a routerLink="/users" routerLinkActive="">
        <button mat-button>Usuarios</button>
      </a>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</ng-template>
